{% extends 'base.html' %}

{% block title %}
home
{% endblock %}
>
{% block header %}
<h2>Witaj w sklepie z winami</h2>
{% endblock %}


{% block content %}
    <div class="row"></div>
        <h3>Nasza oferta:</h3>
        {%for i in range(0, wina[1]) %} 
            <div class="alert alert-primary" role="alert">{{wina[0][i][1]}}</div>
        {%endfor%}
    </div>
{% endblock %}