{% extends 'base.html' %}

{% block title %}
home
{% endblock %}
>
{% block header %}
<h2>Zarządzanie magazynem</h2>
{% endblock %}


{% block content %}
<!-- inserting a new type of wine into the database -->
<div class="row">
    <br><br><br>
    <h4>Dodawanie nowego rodzaju wina:</h4>

    <form action="/magazyn" method="post">
        <div class="row">
            <div class="col">
                <input type="text" name="nazwa_wina" class="form-control" placeholder="Nazwa wina"><br>
            </div>

            <!-- kraje -->
            <div class="col">
                <select class="form-select" name="kraj">
                    {%for i in range(0, kraje[1]) %}
                    <option value={{kraje[0][i][0]}}>{{kraje[0][i][1]}}</option>
                    {%endfor%}
                </select>
            </div>

            <!-- gatunki -->
            <div class="col">
                <select class="form-select" name="gatunek">
                    {%for i in range(0, gatunki[1]) %}
                    <option value={{gatunki[0][i][0]}}>{{gatunki[0][i][1]}}</option>
                    {%endfor%}
                </select>
            </div>

            <!-- słodkość -->
            <div class="col">
                <select class="form-select" name="slodkosc">
                    {%for i in range(0, slodkosc[1]) %}
                    <option value={{slodkosc[0][i][0]}}>{{slodkosc[0][i][1]}}</option>
                    {%endfor%}
                </select>
            </div>

            <input type="submit" name="btn" class="btn btn-outline-primary" value="Dodaj">
        </div>
    </form>
</div>

<!-- deleting a wine type from the database -->
<div class="row">
    <h4>Usuwanie wina:</h4>
    <form action="/magazyn" method="post">

        <select class="form-select" name="id_wina">
            <option selected value="nie_wybrano">Wybierz wino do usunięcia</option>
            {%for i in range(0, wina[1]) %}
            <option value={{wina[0][i][0]}}>{{wina[0][i][1]}}</option>
            {%endfor%}
        </select>

        <input type="submit" name="btn" class="btn btn-outline-danger" value="Usuń wino">
    </form>
</div>

<!-- adding a wine delivery to the warehouse -->
<div class="row">
    <h4>Dodawanie nowej dostawy:</h4>

    <form action="/magazyn" method="post">
        <div class="row">
            <!-- wino -->
            <div class="col">
                <select class="form-select" name="id_wina">
                    <option selected value="nie_wybrano">Wybierz wino</option>
                    {%for i in range(0, wina[1]) %}
                    <option value={{wina[0][i][0]}}>{{wina[0][i][1]}}</option>
                    {%endfor%}
                </select>
            </div>

            <!-- nr regału -->
            <div class="col">
                <input type="text" name="regal" class="form-control" placeholder="nr regału"><br>
            </div>

            <!-- ilość -->
            <div class="col">
                <input type="text" name="ilosc" class="form-control" placeholder="ilość butelek"><br>
            </div>

            <!-- nr partii -->
            <div class="col">
                <input type="text" name="partia" class="form-control" placeholder="nr partii"><br>
            </div>

            <input type="submit" name="btn" class="btn btn-outline-primary" value="Dodaj dostawę">
        </div>
    </form>
</div>

<!-- displaying the stock status -->
<div class="row">
    <h4>Stan magazynu</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nazwa wina</th>
                <th scope="col">Ilość</th>
                <th scope="col">Nr regału</th>
                <th scope="col">Nr partii</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(0, magazyn[1]) %}
            <tr>
                <th scope="row">{{magazyn[0][i][1]}}</th>
                <td>{{magazyn[0][i][2]}}</td>
                <td>{{magazyn[0][i][3]}}</td>
                <td>{{magazyn[0][i][4]}}</td>
                <td>
                    <form action="/magazyn" method="post">
                        <input type="text" name="nr_partii" value={{magazyn[0][i][4]}} hidden>
                        <input type="submit" name="btn" class="btn btn-outline-danger" value="Wycofaj">
                    </form>
                    
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}