body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    margin-bottom: 25px;
}

h2{
    text-align: center;
}

.row {
    margin-bottom: 40px;
}

.btn-outline-danger {
    margin-top: 0;
}

.btn-group {
    margin-bottom: 10px;
}

.form-label {
    font-weight: bold;
}

.form-control, .form-select {
    margin-bottom: 10px;
}
